.icon-air-conditioner {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-collaboration {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-conditioner {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-engineer {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-fan {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-fan2 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-love {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-project {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-service {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-shield {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-start {
  width: 1em;
  height: 1em;
  fill: initial;
}
